<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.UserMapper">
	
	<resultMap id="UserResultMap" type="com.example.model.User">
		<id column="userid" property="userid" />
		<result column="username" property="username" />
		<result column="userpwd" property="userpwd" />
		<result column="adress" property="adress" />
		<result column="phone" property="phone" />
		
		
	</resultMap>
	

	
	

	<insert id="insertUser" parameterType="com.example.model.User" keyProperty="userid" useGeneratedKeys="true"> 
	insert into user(username, userpwd , adress , phone) values(#{username},#{userpwd},#{adress},#{phone}) 
	</insert>
	
	<select id="chkUser" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(userid)  from user where username=#{username}
	</select>
	
	<select id="chkPwd" resultType="java.lang.Integer" parameterType="com.example.model.User">
		select count(userid)  from user where userid=#{arg0} and userpwd=#{arg1}
	</select>
	
	
	<select id="loginUser" resultMap="UserResultMap" parameterType="com.example.model.User">
		select userid, username, userpwd ,adress,phone from user where username=#{username} and userpwd=#{userpwd}
	</select>
	
	<select id="findUser" resultMap="UserResultMap" parameterType="com.example.model.User">
		select userid, username, userpwd ,adress,phone from user where userid=#{userid}
	</select>
	
	<update id="updateUser" parameterType="com.example.model.User"> 
	update user set username=#{username}, adress=#{adress} , phone=#{phone} where userid=#{userid}
	 </update>
	
	
	<update id="updatePwd" parameterType="com.example.model.User"> 
	update user set userpwd=#{userpwd} where userid=#{userid}
	 </update>
	
</mapper>